{% extends "admin/change_form.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/blog_post_editor.css' %}">
<link rel="stylesheet" href="{% static 'css/iv-page.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/blog_page_builder.css' %}">
{% endblock %}

{% block bodyclass %}{{ block.super }} blog-visual-builder-admin{% endblock %}

{% block content_title %}{% endblock %}

{% block content_subtitle %}{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'admin/js/blog_post_change_form.js' %}"></script>
<script src="{% static 'admin/js/blog_page_builder.js' %}"></script>
{% endblock %}

{% block object-tools %}{% endblock %}

{% block field_sets %}{% endblock %}

{% block inline_field_sets %}{% endblock %}

{% block after_field_sets %}
{{ block.super }}
{% include "admin/blog/blogpost/visual_builder.html" %}
{% endblock %}

{% block submit_buttons_top %}{% endblock %}
{% block submit_buttons_bottom %}{% endblock %}
