{% extends "base.html" %}
{% load builder_tags seo_tags %}

{# SEO tagovi se renderuju u base.html: {% render_seo_meta seo_object %} #}
{# Vidi templates/seo/usage_examples.html za sve načine korišćenja. #}

{% block content %}
<article class="blog-article">
    <div class="container container--narrow">
        {% render_breadcrumbs post %}
    </div>

    {% if is_admin_preview %}
        {% render_page_builder post visible_only=False %}
    {% else %}
        {% render_page_builder post %}
    {% endif %}

    <div class="container container--narrow">
        <p class="blog-article__back">
            <a href="{% url 'frontend:blog' %}">&larr; Nazad na blog</a>
        </p>
    </div>
</article>
{% endblock %}
