{% load media_tags %}
{% if block.image %}
<figure class="builder-image">
    {% if block.image_link_url %}
    <a href="{{ block.image_link_url }}" class="builder-image__link">
        {% responsive_image block.image alt=block.image_alt css_class="builder-image__img" %}
    </a>
    {% else %}
        {% responsive_image block.image alt=block.image_alt css_class="builder-image__img" %}
    {% endif %}
    {% if block.image_caption %}
    <figcaption class="builder-image__caption">{{ block.image_caption }}</figcaption>
    {% endif %}
</figure>
{% endif %}
